body {
  background-color: #d6e2f0;
  font-family: "Outfit", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;  
}
img {
  width: 300px;
  border-radius: 8px;
}

h1 {
 font-size: 20px;
  margin: 2rem 0;
  text-align: center;
}

p {
  font-size: 15px;
  margin: 1rem 0 3rem 0;
  text-align: center;
}

.attribution {
  position: fixed;
  bottom: 0;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.content {
  background: #fff;
  border-radius: 18px;
  padding: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 300px;

}
